* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(96, 144, 136, 0.525);
}
.modal .modal-content {
  width: 33%;
  background-color: rgb(197, 231, 247);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}
.modal .modal-content #submit-task:hover {
  background-color: rgb(48, 232, 146);
  cursor: pointer;
}
.modal .modal-content .delete-request {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.modal .modal-content .delete-request input[type=submit] {
  width: 50px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.modal .modal-content .delete-request input[name=delete-no]:hover {
  background-color: tomato;
}
.modal .modal-content .delete-request input[name=delete-yes]:hover {
  background-color: rgb(48, 232, 146);
}
.modal .modal-content .close {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.modal .modal-content .close .fa-times {
  width: 5%;
  color: #aaa;
  font-size: 27px;
  font-weight: bold;
  cursor: pointer;
  float: right;
}
.modal .modal-content .close:hover .fa-times, .modal .modal-content .close:focus .fa-times {
  color: tomato;
  text-decoration: none;
}
.modal .modal-content input {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
}
.modal .modal-content textarea, .modal .modal-content input {
  padding: 5px;
}

@media screen and (max-width: 600px) {
  .modal-content {
    width: 80% !important;
  }
}
body {
  background-image: repeating-linear-gradient(90deg, hsla(253, 0%, 96%, 0.05) 0px, hsla(253, 0%, 96%, 0.05) 1px, transparent 1px, transparent 104px), repeating-linear-gradient(0deg, hsla(253, 0%, 96%, 0.05) 0px, hsla(253, 0%, 96%, 0.05) 1px, transparent 1px, transparent 104px), repeating-linear-gradient(0deg, hsla(253, 0%, 96%, 0.07) 0px, hsla(253, 0%, 96%, 0.07) 1px, transparent 1px, transparent 26px), repeating-linear-gradient(90deg, hsla(253, 0%, 96%, 0.07) 0px, hsla(253, 0%, 96%, 0.07) 1px, transparent 1px, transparent 26px), linear-gradient(45deg, hsl(213, 62%, 51%), hsl(213, 62%, 51%));
  max-height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
}
main .done {
  border-radius: none;
  overflow: hidden;
  margin-left: none;
}
main .todo {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: none;
}
main .list {
  width: 500px;
  height: 600px;
  border: 2px tomato solid;
  border-right: none;
  text-align: center;
  background-color: rgba(0, 255, 153, 0.281);
  overflow-y: scroll;
  overflow-x: hidden;
}
main .list .header-list {
  width: 480px;
  height: 100px;
  position: absolute;
  border-top-left-radius: 5px;
  background-color: rgba(0, 255, 174, 0.548);
  padding: 10px;
}
main .list .header-list .add-task {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  margin-top: 15px;
  font-weight: bold;
  background-color: rgb(0, 211, 211);
  cursor: pointer;
}
main .list .content {
  width: 100%;
  height: 90%;
  margin-top: 100px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
main .list .content .alert-time {
  animation: timeOut 6s forwards;
  animation-iteration-count: infinite;
}
main .list .content .task {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 50px;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  border: 3px rgb(197, 231, 247) solid;
}
main .list .content .task .checked-div {
  height: 100%;
  width: 20%;
  box-sizing: border-box;
  background-color: rgb(197, 231, 247);
  display: flex;
  justify-content: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
main .list .content .task .task-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: -moz-max-content;
  height: max-content;
  padding: 5px;
  font-weight: bold;
}
main .list .content .task .task-content .task-options {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 5px;
  width: 100%;
  text-align: end;
  margin: 10px;
}
main .list .content .task .task-content .task-options .fa-trash {
  color: rgb(148, 147, 147);
}
main .list .content .task .task-content .task-options .fa-trash:hover {
  color: rgb(255, 1, 1);
  cursor: pointer;
}
main .list .content .task .task-content .task-options .fa-edit {
  color: rgb(148, 147, 147);
}
main .list .content .task .task-content .task-options .fa-edit:hover {
  color: rgb(0, 162, 255);
  cursor: pointer;
}
main .list .content .task .task-content .task-title {
  display: block;
  width: 100%;
  text-align: start;
}
main .list .content .task .task-content .task-description {
  display: block;
  width: 100%;
  min-height: 50px;
  word-break: break-all;
  margin: 5px;
  padding: 5px;
  text-align: justify;
}
main .list .content .task .task-content .task-date {
  display: block;
  width: 100%;
  margin-top: 5px;
  text-align: end;
}

@keyframes timeOut {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}
@media screen and (max-width: 750px) {
  main {
    gap: 50px;
  }
  main .header-list {
    width: 250px !important;
    height: 100px;
    position: absolute !important;
    border-top-left-radius: 5px;
    background-color: transparent !important;
    padding: 10px;
    z-index: 1 !important;
  }
}/*# sourceMappingURL=main.css.map */